<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <app-new-transaction-form [ownAccount]="ownAccount" (transactionDone)="reloadControlPanel($event)"></app-new-transaction-form>
    </div>
    <div class="column is-two-thirds">
      <div class="box no-shadow">
        <h2 class="title is-4">Latest Transactions</h2>
        <app-transaction-list [transactions]="transactions" [hidePagination]="true"></app-transaction-list>
        <button class="button is-info" routerLink="/dashboard/transactions">All Transactions</button>
      </div>
    </div>
  </div>
</div>
