<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <app-new-transaction-form [ownAccount]="ownAccount" (transactionDone)="getOwnAccount($event)"></app-new-transaction-form>
    </div>
    <div class="column is-two-thirds">
      <div class="box no-shadow">
        <h2 class="title is-4">Latest Transactions</h2>
        <table class="table is-striped">
          <thead>
            <tr>
              <th>
                Source
              </th>
              <th>
                Target
              </th>
              <th>
                Amount [CHF]
              </th>
              <th>
                Balance [CHF]
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1000004</td>
              <td>1000001</td>
              <td>-50.00</td>
              <td>950</td>
            </tr>
            <tr>
              <td>0000000</td>
              <td>1000004</td>
              <td>1,000.00</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button class="button is-info" routerLink="/dashboard/transactions">All Transactions</button>
      </div>
    </div>
  </div>
</div>
