<table class="table is-striped">
  <thead>
    <tr>
      <th [hidden]="!showDate">
        Date
      </th>
      <th>
        Source
      </th>
      <th>
        Target
      </th>
      <th>
        Amount [CHF]
      </th>
      <th>
        Balance [CHF]
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td [hidden]="!showDate"><strong>{{transaction.date | date:'dd.MM.yyyy'}}</strong></td>
      <td>{{transaction.from}}</td>
      <td>{{transaction.target}}</td>
      <td style="text-align:right;">{{transaction.amount | number:'1.2-2'}}</td>
      <td style="text-align:right;">{{transaction.total | number:'1.2-2'}}</td>
    </tr>
    <tr [hidden]="0 < transactions?.length">
      <td colspan="5">
        <div class="notification is-warning">
          There are no transactions available to display.
        </div>
      </td>
    </tr>
  </tbody>
</table>
