<!-- TODO: Add ng2 specific directives/validation settings and add styling -->
<form (ngSubmit)="doLogin(null)">
  <md-input-container>
    <input mdInput placeholder="User name" hint="Please specify your login, at least three characters." pattern=".{3,}" type="text" name="login">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Password" hint="Please specify your login, at least three characters." pattern=".{3,}" type="password" name="password">
  </md-input-container>
  <button md-raised-button>Log in</button>
</form>
