<nav class="nav has-shadow">
  <div class="container">
  <div class="nav-left">
    <a class="nav-item app-title">
      💰💰💰 🤑
    </a>
  </div>

  <span class="nav-toggle" onClick="var menu = document.querySelector('.nav-right.nav-menu'); menu.classList.toggle('is-active');">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item" routerLink="/welcome">
      Home
    </a>
    <a class="nav-item" routerLink="/welcome/register">
    <span class="button is-info">
      Register
    </span>
    </a>
  </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
